<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
	<div class="container mt-2">
		<h1>Guardar Pasajero</h1>
		<form method="post" autocomplete="off" th:action="@{/guardar}" th:object="${pasajero}">
			<div class="form-group mb-3">
				<label>Nombre</label>
				<input type="text" th:field="*{nombre}" name="nombre" class="form-control">
			</div>
			<div class="form-group mb-3">
				<label>Apellido</label>
				<input type="text" th:field="*{apellido}" name="apellido" class="form-control">
			</div>
			<div class="form-group mb-3">
				<label>tipo Documento</label>
				<select th:field="*{tipoDocumento}" name="tipoDocumento" class="form-control">
					<option value="null">Seleccione</option>
					<option value="dni">DNI</option>
					<option value="carnetExtr">Carnet de Extranjero</option>
				</select>
			</div>
			<div class="form-group mb-3">
				<label>N° Documento</label>
				<input type="text" th:field="*{numDocumento}" name="numDocumento" class="form-control">
			</div>
			<div class="form-group mb-3">
				<label>Correo electronico</label>
				<input type="email" th:field="*{correo}" name="correo" class="form-control">
			</div>
			<div class="form-group mb-3">
				<label>Telefono</label>
				<input type="tel" th:field="*{telefonoMovil}" name="telefonoMovil" class="form-control">
			</div >
			<div class="form-group mb-3">
				<label>Sexo</label>
				<select th:field="*{sexo}" name="sexo" class="form-control">
					<option value="null">Seleccione</option>
					<option value="F">Femenino</option>
					<option value="M">Masculino</option>
				</select>
			</div>
			<div class="form-group mb-3">
				<label>Estado civil</label>
				<select th:field="*{estadoCivil}" name="estadoCivil" class="form-control">
					<option value="null">Seleccione</option>
					<option value="S">Soltero</option>
					<option value="M">Casado</option>
					<option value="D">Divorciado</option>
				</select>
			</div>
			<div class="form-group mb-3">
				<label>Fecha de Nacimiento</label>
				<input type="date" th:field="*{fechaNacimiento}" name="fechaNacimiento" class="form-control" value="06-09-2002">
			</div>
			<div class="form-group mb-3">
				<a href="/" class="btn btn-primary">Volver</a>
				<input type="submit" value="Guardar" class="btn btn-success">
			</div>
		</form>
	</div>
</body>
</html>